.link {
  display: inline-block;
  position: relative;
  padding: 10px 15px;
  text-decoration: none;
  letter-spacing: 0.15em;

  &:after {
    // background: none repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    height: 2px;
    background: $primary;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    content: "";
  }
  &:hover:after {
    left: 0;
    width: 100%;
  }
}
