// Colors
$primary: #ec7a1c;
$primary-dark: #90462c;
$secondary: #44443b;
// $error: #c44747;
$background: #fff;
$background-dark: #44443b;

// Text
$text-white: #fff;
$text-offwhite: #e6e4e0;
